# Prepare

In [13]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sys
print(sys.path)
sys.path.append('/Users/user/Documents/github/lii3ra/')
print(sys.path)
from lii3ra.dbinfo import DbInfo
import initial_sql

['/usr/lib/python36.zip', '/usr/lib/python3.6', '/usr/lib/python3.6/lib-dynload', '', '/home/takeyukitanaka/.local/lib/python3.6/site-packages', '/usr/local/lib/python3.6/dist-packages', '/home/takeyukitanaka/Documents/github/donkatsu', '/home/takeyukitanaka/Documents/github/lii3ra', '/usr/lib/python3/dist-packages', '/home/takeyukitanaka/.local/lib/python3.6/site-packages/IPython/extensions', '/home/takeyukitanaka/.ipython', '/Users/user/Documents/github/lii3ra/']
['/usr/lib/python36.zip', '/usr/lib/python3.6', '/usr/lib/python3.6/lib-dynload', '', '/home/takeyukitanaka/.local/lib/python3.6/site-packages', '/usr/local/lib/python3.6/dist-packages', '/home/takeyukitanaka/Documents/github/donkatsu', '/home/takeyukitanaka/Documents/github/lii3ra', '/usr/lib/python3/dist-packages', '/home/takeyukitanaka/.local/lib/python3.6/site-packages/IPython/extensions', '/home/takeyukitanaka/.ipython', '/Users/user/Documents/github/lii3ra/', '/Users/user/Documents/github/lii3ra/']

In [2]:
import matplotlib.pyplot as plt
from mpl_finance import candlestick2_ohlc, volume_overlay, candlestick_ohlc
import seaborn as sns
sns.set()
sns.set_style('whitegrid')
sns.set_palette('gray')

In [3]:
%load_ext sql
dsl = f"postgres://{DbInfo.USER_NAME}:{DbInfo.PASSWORD}@{DbInfo.HOSTNAME}:{DbInfo.PORT}/{DbInfo.DATABASE}"
%sql $dsl

'Connected: postgres@lii3ra'

# Symbol

In [7]:
from lii3ra.symbol.topix17etf.volume10b.topix17etf_1629 import Symbol
symbol_list = Symbol.symbols
symbol_list

['2768.T',
 '2784.T',
 '3038.T',
 '7459.T',
 '8001.T',
 '8002.T',
 '8015.T',
 '8031.T',
 '8036.T',
 '8053.T',
 '8058.T',
 '9962.T',
 '9987.T']

In [8]:
symbols_for_sql = "'" + "','".join(symbol_list) + "'"
symbols_for_sql

"'2768.T','2784.T','3038.T','7459.T','8001.T','8002.T','8015.T','8031.T','8036.T','8053.T','8058.T','9962.T','9987.T'"

# Crawler

In [6]:
symbols_arg = ",".join(Symbol.symbols)
!python3 ../../lii3ra/crawler/crawler_yfinance.py --symbol {symbols_arg} --start_date 1980-01-01

[2020/01/21 00:31:37] INFO - crawler_yfinance.py#crawler:58: crawler_yfinance.crawler() start.
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:31:38] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 4953
[2020/01/21 00:31:40] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 4953
[2020/01/21 00:31:40] INFO - crawler_yfinance.py#download:43: downloaded:[2768.T][1980-01-01-2020-01-22] [2000-01-04-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:31:41] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 3510
[2020/01/21 00:31:42] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 3510
[2020/01/21 00:31:42] INFO - crawler_yfinance.py#download:43: downloaded:[2784.T][1980-01-01-2020-01-22] [2005-09-29-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:31:44] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 3350
[2020/01/21 00:31:45] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 3350
[2020/01/21 00:31:45] INFO - crawler_yfinance.py#download:43: downloaded:[3038.T][1980-01-01-2020-01-22] [2006-06-08-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:31:48] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 4762
[2020/01/21 00:31:49] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 4762
[2020/01/21 00:31:49] INFO - crawler_yfinance.py#download:43: downloaded:[7459.T][1980-01-01-2020-01-22] [2001-01-01-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:31:51] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 5031
[2020/01/21 00:31:52] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 5031
[2020/01/21 00:31:52] INFO - crawler_yfinance.py#download:43: downloaded:[8001.T][1980-01-01-2020-01-22] [2000-01-04-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:31:54] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 5031
[2020/01/21 00:31:55] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 5031
[2020/01/21 00:31:55] INFO - crawler_yfinance.py#download:43: downloaded:[8002.T][1980-01-01-2020-01-22] [2000-01-04-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:31:57] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 5031
[2020/01/21 00:31:58] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 5031
[2020/01/21 00:31:58] INFO - crawler_yfinance.py#download:43: downloaded:[8015.T][1980-01-01-2020-01-22] [2000-01-04-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:32:00] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 5030
[2020/01/21 00:32:01] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 5030
[2020/01/21 00:32:02] INFO - crawler_yfinance.py#download:43: downloaded:[8031.T][1980-01-01-2020-01-22] [2000-01-04-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:32:03] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 4771
[2020/01/21 00:32:04] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 4771
[2020/01/21 00:32:04] INFO - crawler_yfinance.py#download:43: downloaded:[8036.T][1980-01-01-2020-01-22] [2001-01-01-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:32:06] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 5031
[2020/01/21 00:32:08] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 5031
[2020/01/21 00:32:08] INFO - crawler_yfinance.py#download:43: downloaded:[8053.T][1980-01-01-2020-01-22] [2000-01-04-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:32:10] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 5031
[2020/01/21 00:32:11] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 5031
[2020/01/21 00:32:11] INFO - crawler_yfinance.py#download:43: downloaded:[8058.T][1980-01-01-2020-01-22] [2000-01-04-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:32:13] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 4772
[2020/01/21 00:32:14] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 4772
[2020/01/21 00:32:14] INFO - crawler_yfinance.py#download:43: downloaded:[9962.T][1980-01-01-2020-01-22] [2001-01-01-2020-01-20]
[*********************100%***********************]  1 of 1 downloaded
[2020/01/21 00:32:16] INFO - dbaccess.py#insert_ohlcv:66: insert_ohlcv() start. 4772
[2020/01/21 00:32:18] INFO - dbaccess.py#insert_ohlcv:84: insert_ohlcv() complete. 4772
[2020/01/21 00:32:18] INFO - crawler_yfinance.py#download:43: downloaded:[9987.T][1980-01-01-2020-01-22] [2001-01-01-2020-01-20]
[2020/01/21 00:32:18] INFO - crawler_yfinance.py#crawler:60: crawler_yfinance.crawler() end.

# backtest_result

In [14]:
ohlcv_query = f"""
select 
 symbol
,count(*)
from backtest_result
where symbol in ({symbols_for_sql})
group by symbol
order by symbol
"""

%sql $ohlcv_query

 * postgres://postgres:***@localhost:5432/lii3ra
13 rows affected.

[('2768.T', 624),
 ('2784.T', 624),
 ('3038.T', 624),
 ('7459.T', 624),
 ('8001.T', 624),
 ('8002.T', 624),
 ('8015.T', 624),
 ('8031.T', 624),
 ('8036.T', 624),
 ('8053.T', 624),
 ('8058.T', 612),
 ('9962.T', 624),
 ('9987.T', 624)]

In [15]:
ohlcv_query = f"""
select 
 symbol
,count(*) as cnt
,sum(rate_of_return) as sum_return
from backtest_result
where symbol in ({symbols_for_sql})
and rate_of_return > 5000
group by symbol
order by sum_return desc
"""

%sql $ohlcv_query

 * postgres://postgres:***@localhost:5432/lii3ra
0 rows affected.

[]