# Prepare

In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
import sys

In [4]:
sys.path.append('/Users/user/Documents/github/donkatsu/')

In [5]:
print(sys.path)

['C:\\Users\\ryzen7\\Documents\\github\\lii3ra\\jupyter', 'c:\\program files (x86)\\python37-32\\python37.zip', 'c:\\program files (x86)\\python37-32\\DLLs', 'c:\\program files (x86)\\python37-32\\lib', 'c:\\program files (x86)\\python37-32', '', 'C:\\Users\\ryzen7\\AppData\\Roaming\\Python\\Python37\\site-packages', 'c:\\program files (x86)\\python37-32\\lib\\site-packages', 'c:\\users\\ryzen7\\documents\\github\\lii3ra', 'c:\\program files (x86)\\python37-32\\lib\\site-packages\\win32', 'c:\\program files (x86)\\python37-32\\lib\\site-packages\\win32\\lib', 'c:\\program files (x86)\\python37-32\\lib\\site-packages\\Pythonwin', 'c:\\program files (x86)\\python37-32\\lib\\site-packages\\IPython\\extensions', 'C:\\Users\\ryzen7\\.ipython', '/Users/user/Documents/github/donkatsu/']

In [8]:
from lii3ra.dbinfo import DbInfo

In [9]:
import psycopg2
conn = psycopg2.connect(
    host=DbInfo.HOSTNAME,
    database=DbInfo.DATABASE,
    port=DbInfo.PORT,
    user=DbInfo.USER_NAME,
    password=DbInfo.PASSWORD
)
cur = conn.cursor()

In [10]:
%load_ext sql
dsl = f"postgres://{DbInfo.USER_NAME}:{DbInfo.PASSWORD}@{DbInfo.HOSTNAME}:{DbInfo.PORT}/{DbInfo.DATABASE}"
%sql $dsl

'Connected: postgres@lii3ra'

In [11]:
import matplotlib.pyplot as plt
from mpl_finance import candlestick2_ohlc, volume_overlay, candlestick_ohlc
import seaborn as sns
sns.set()
sns.set_style('whitegrid')
sns.set_palette('gray')

# OHLCV

In [ ]:
start_date="2019-08-05"
end_date="2019-12-31"
query = """
select
*
from ohlcv
where symbol = '{}'
and leg = '1d'
and date(time) between '{}' and '{}'
order by time
"""
pd.set_option('display.max_columns', 100)

In [18]:
df = %sql select * from ohlcv where symbol in ('9107.T') and leg = '1d' order by time
df

 * postgres://postgres:***@192.168.72.51:5432/lii3ra
4767 rows affected.

[('9107.T', '1d', datetime.datetime(2001, 1, 1, 0, 0), 1720.0, 1720.0, 1720.0, 1720.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 2, 0, 0), 1720.0, 1720.0, 1720.0, 1720.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 3, 0, 0), 1720.0, 1720.0, 1720.0, 1720.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 4, 0, 0), 1730.0, 1740.0, 1700.0, 1700.0, 76800.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 5, 0, 0), 1690.0, 1710.0, 1640.0, 1670.0, 179200.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 8, 0, 0), 1670.0, 1670.0, 1670.0, 1670.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 9, 0, 0), 1600.0, 1640.0, 1600.0, 1600.0, 176200.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 10, 0, 0), 1600.0, 1620.0, 1600.0, 1600.0, 88500.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 11, 0, 0), 1610.0, 1630.0, 1580.0, 1580.0, 137300.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 12, 0, 0), 1550.0, 1600.0, 1550.0, 1570.0, 302800.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 15, 0, 0), 1580.0, 1610.0, 1560.0, 1560.0, 96700.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 16, 0, 0), 1590.0, 1670.0, 1590.0, 1650.0, 134900.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 17, 0, 0), 1620.0, 1660.0, 1620.0, 1640.0, 88900.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 18, 0, 0), 1640.0, 1680.0, 1630.0, 1650.0, 107700.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 19, 0, 0), 1690.0, 1690.0, 1660.0, 1670.0, 154000.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 22, 0, 0), 1670.0, 1670.0, 1640.0, 1640.0, 59300.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 23, 0, 0), 1620.0, 1640.0, 1620.0, 1620.0, 82900.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 24, 0, 0), 1630.0, 1640.0, 1610.0, 1610.0, 134200.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 25, 0, 0), 1610.0, 1630.0, 1610.0, 1610.0, 58800.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 26, 0, 0), 1600.0, 1640.0, 1590.0, 1610.0, 122900.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 29, 0, 0), 1610.0, 1690.0, 1610.0, 1650.0, 106000.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 30, 0, 0), 1680.0, 1790.0, 1680.0, 1740.0, 241400.0),
 ('9107.T', '1d', datetime.datetime(2001, 1, 31, 0, 0), 1760.0, 1800.0, 1760.0, 1760.0, 261600.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 1, 0, 0), 1770.0, 1790.0, 1760.0, 1770.0, 147700.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 2, 0, 0), 1760.0, 1800.0, 1760.0, 1770.0, 105700.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 5, 0, 0), 1730.0, 1750.0, 1710.0, 1740.0, 99500.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 6, 0, 0), 1710.0, 1720.0, 1660.0, 1680.0, 287200.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 7, 0, 0), 1680.0, 1730.0, 1680.0, 1710.0, 121100.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 8, 0, 0), 1710.0, 1740.0, 1700.0, 1720.0, 91800.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 9, 0, 0), 1720.0, 1780.0, 1710.0, 1770.0, 239200.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 13, 0, 0), 1800.0, 1820.0, 1750.0, 1810.0, 267800.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 14, 0, 0), 1810.0, 1810.0, 1760.0, 1800.0, 253900.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 15, 0, 0), 1780.0, 1820.0, 1780.0, 1800.0, 146500.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 16, 0, 0), 1800.0, 1800.0, 1780.0, 1790.0, 98100.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 19, 0, 0), 1740.0, 1800.0, 1740.0, 1770.0, 68500.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 20, 0, 0), 1780.0, 1800.0, 1780.0, 1790.0, 84600.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 21, 0, 0), 1770.0, 1800.0, 1770.0, 1800.0, 115900.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 22, 0, 0), 1770.0, 1810.0, 1770.0, 1780.0, 265000.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 23, 0, 0), 1800.0, 1800.0, 1760.0, 1800.0, 142300.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 26, 0, 0), 1800.0, 1820.0, 1790.0, 1810.0, 378800.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 27, 0, 0), 1850.0, 1920.0, 1840.0, 1910.0, 699500.0),
 ('9107.T', '1d', datetime.datetime(2001, 2, 28, 0, 0), 1950.0, 1980.0, 1920.0, 1920.0, 456000.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 1, 0, 0), 1960.0, 1990.0, 1930.0, 1980.0, 459300.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 2, 0, 0), 1950.0, 1980.0, 1920.0, 1920.0, 330800.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 5, 0, 0), 1890.0, 1920.0, 1870.0, 1900.0, 190500.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 6, 0, 0), 1880.0, 1940.0, 1870.0, 1910.0, 101400.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 7, 0, 0), 1910.0, 1940.0, 1890.0, 1890.0, 95400.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 8, 0, 0), 1880.0, 1920.0, 1870.0, 1890.0, 93700.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 9, 0, 0), 1840.0, 1900.0, 1830.0, 1870.0, 280700.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 12, 0, 0), 1840.0, 1850.0, 1820.0, 1830.0, 166100.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 13, 0, 0), 1730.0, 1820.0, 1710.0, 1760.0, 224800.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 15, 0, 0), 1710.0, 1780.0, 1680.0, 1780.0, 147000.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 16, 0, 0), 1770.0, 1840.0, 1770.0, 1810.0, 91200.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 19, 0, 0), 1840.0, 1860.0, 1810.0, 1810.0, 80400.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 20, 0, 0), 1810.0, 1810.0, 1810.0, 1810.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 21, 0, 0), 1810.0, 1980.0, 1810.0, 1980.0, 159300.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 22, 0, 0), 1980.0, 1990.0, 1940.0, 1940.0, 297600.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 23, 0, 0), 1920.0, 1960.0, 1910.0, 1950.0, 176000.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 26, 0, 0), 1970.0, 2050.0, 1920.0, 2050.0, 240300.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 27, 0, 0), 2000.0, 2000.0, 1940.0, 1940.0, 81300.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 28, 0, 0), 1970.0, 1980.0, 1940.0, 1940.0, 119500.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 29, 0, 0), 1970.0, 2030.0, 1920.0, 1960.0, 164800.0),
 ('9107.T', '1d', datetime.datetime(2001, 3, 30, 0, 0), 1990.0, 1990.0, 1850.0, 1850.0, 119300.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 2, 0, 0), 1910.0, 1940.0, 1880.0, 1890.0, 103200.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 3, 0, 0), 1890.0, 1950.0, 1890.0, 1930.0, 70700.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 4, 0, 0), 1930.0, 1980.0, 1900.0, 1970.0, 182400.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 5, 0, 0), 1990.0, 2020.0, 1960.0, 1990.0, 205400.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 6, 0, 0), 2010.0, 2120.0, 2000.0, 2050.0, 551200.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 9, 0, 0), 2100.0, 2100.0, 2030.0, 2030.0, 275100.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 10, 0, 0), 2070.0, 2080.0, 2010.0, 2010.0, 133900.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 11, 0, 0), 2050.0, 2090.0, 2020.0, 2080.0, 208000.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 12, 0, 0), 2070.0, 2150.0, 2050.0, 2150.0, 468800.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 13, 0, 0), 2150.0, 2150.0, 2080.0, 2100.0, 198400.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 16, 0, 0), 2090.0, 2140.0, 2080.0, 2090.0, 289200.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 17, 0, 0), 2090.0, 2100.0, 2020.0, 2030.0, 231400.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 18, 0, 0), 2040.0, 2070.0, 2030.0, 2070.0, 150000.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 19, 0, 0), 2080.0, 2090.0, 2030.0, 2040.0, 155100.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 20, 0, 0), 2040.0, 2110.0, 2030.0, 2100.0, 183400.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 23, 0, 0), 2130.0, 2160.0, 2110.0, 2150.0, 280700.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 24, 0, 0), 2150.0, 2190.0, 2120.0, 2190.0, 192900.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 25, 0, 0), 2220.0, 2250.0, 2200.0, 2240.0, 488400.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 26, 0, 0), 2220.0, 2250.0, 2200.0, 2240.0, 488400.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 27, 0, 0), 2330.0, 2340.0, 2240.0, 2320.0, 313500.0),
 ('9107.T', '1d', datetime.datetime(2001, 4, 30, 0, 0), 2320.0, 2320.0, 2320.0, 2320.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 1, 0, 0), 2290.0, 2320.0, 2270.0, 2300.0, 184600.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 2, 0, 0), 2260.0, 2320.0, 2210.0, 2290.0, 288000.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 3, 0, 0), 2290.0, 2290.0, 2290.0, 2290.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 4, 0, 0), 2290.0, 2290.0, 2290.0, 2290.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 7, 0, 0), 2230.0, 2260.0, 2210.0, 2230.0, 1680.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 8, 0, 0), 2180.0, 2190.0, 2130.0, 2160.0, 1620.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 9, 0, 0), 2100.0, 2160.0, 2070.0, 2110.0, 1473.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 10, 0, 0), 2100.0, 2160.0, 2100.0, 2130.0, 1285.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 11, 0, 0), 2150.0, 2170.0, 2140.0, 2160.0, 1296.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 14, 0, 0), 2170.0, 2180.0, 2100.0, 2110.0, 1250.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 15, 0, 0), 2110.0, 2140.0, 2080.0, 2110.0, 95000.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 16, 0, 0), 2150.0, 2160.0, 2080.0, 2100.0, 133200.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 17, 0, 0), 2150.0, 2170.0, 2110.0, 2170.0, 162700.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 18, 0, 0), 2170.0, 2230.0, 2150.0, 2150.0, 207100.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 21, 0, 0), 2160.0, 2210.0, 2150.0, 2170.0, 211400.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 22, 0, 0), 2270.0, 2280.0, 2230.0, 2230.0, 299200.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 23, 0, 0), 2280.0, 2280.0, 2200.0, 2240.0, 180200.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 24, 0, 0), 2220.0, 2260.0, 2190.0, 2230.0, 174700.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 25, 0, 0), 2230.0, 2280.0, 2200.0, 2200.0, 144100.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 28, 0, 0), 2200.0, 2210.0, 2150.0, 2170.0, 77800.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 29, 0, 0), 2150.0, 2220.0, 2150.0, 2170.0, 135200.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 30, 0, 0), 2190.0, 2200.0, 2160.0, 2160.0, 72700.0),
 ('9107.T', '1d', datetime.datetime(2001, 5, 31, 0, 0), 2150.0, 2180.0, 2120.0, 2130.0, 132600.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 1, 0, 0), 2130.0, 2160.0, 2110.0, 2120.0, 89000.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 4, 0, 0), 2120.0, 2140.0, 2110.0, 2140.0, 50900.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 5, 0, 0), 2130.0, 2140.0, 2110.0, 2130.0, 67700.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 6, 0, 0), 2140.0, 2160.0, 2120.0, 2160.0, 62500.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 7, 0, 0), 2160.0, 2210.0, 2150.0, 2210.0, 152900.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 8, 0, 0), 2260.0, 2260.0, 2190.0, 2230.0, 346400.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 11, 0, 0), 2180.0, 2220.0, 2150.0, 2150.0, 81400.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 12, 0, 0), 2160.0, 2200.0, 2130.0, 2130.0, 93700.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 13, 0, 0), 2140.0, 2170.0, 2130.0, 2140.0, 115700.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 14, 0, 0), 2150.0, 2180.0, 2140.0, 2160.0, 87400.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 15, 0, 0), 2130.0, 2140.0, 2100.0, 2130.0, 187300.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 18, 0, 0), 2140.0, 2220.0, 2130.0, 2200.0, 152300.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 19, 0, 0), 2180.0, 2210.0, 2130.0, 2140.0, 100500.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 20, 0, 0), 2180.0, 2200.0, 2150.0, 2170.0, 135700.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 21, 0, 0), 2180.0, 2210.0, 2170.0, 2190.0, 83000.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 22, 0, 0), 2220.0, 2250.0, 2220.0, 2250.0, 185200.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 25, 0, 0), 2250.0, 2300.0, 2240.0, 2260.0, 183500.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 26, 0, 0), 2280.0, 2340.0, 2270.0, 2330.0, 344300.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 27, 0, 0), 2350.0, 2380.0, 2320.0, 2340.0, 381100.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 28, 0, 0), 2310.0, 2340.0, 2280.0, 2310.0, 108700.0),
 ('9107.T', '1d', datetime.datetime(2001, 6, 29, 0, 0), 2320.0, 2370.0, 2310.0, 2370.0, 158300.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 2, 0, 0), 2370.0, 2370.0, 2260.0, 2300.0, 168400.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 3, 0, 0), 2330.0, 2340.0, 2290.0, 2320.0, 83600.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 4, 0, 0), 2310.0, 2310.0, 2240.0, 2270.0, 81000.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 5, 0, 0), 2220.0, 2320.0, 2220.0, 2310.0, 96400.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 6, 0, 0), 2310.0, 2310.0, 2260.0, 2280.0, 72000.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 9, 0, 0), 2220.0, 2290.0, 2220.0, 2290.0, 136200.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 10, 0, 0), 2290.0, 2300.0, 2250.0, 2290.0, 134500.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 11, 0, 0), 2260.0, 2300.0, 2250.0, 2280.0, 155500.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 12, 0, 0), 2280.0, 2310.0, 2270.0, 2300.0, 116500.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 13, 0, 0), 2350.0, 2360.0, 2300.0, 2330.0, 182500.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 16, 0, 0), 2330.0, 2340.0, 2300.0, 2340.0, 75000.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 17, 0, 0), 2300.0, 2310.0, 2250.0, 2300.0, 125900.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 18, 0, 0), 2270.0, 2300.0, 2180.0, 2200.0, 209700.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 19, 0, 0), 2200.0, 2210.0, 2140.0, 2140.0, 96600.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 20, 0, 0), 2140.0, 2140.0, 2140.0, 2140.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 23, 0, 0), 2120.0, 2120.0, 2070.0, 2100.0, 87600.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 24, 0, 0), 2050.0, 2100.0, 2050.0, 2100.0, 67000.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 25, 0, 0), 2150.0, 2170.0, 2110.0, 2170.0, 97200.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 26, 0, 0), 2140.0, 2190.0, 2120.0, 2160.0, 49400.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 27, 0, 0), 2120.0, 2160.0, 2110.0, 2120.0, 88200.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 30, 0, 0), 2150.0, 2160.0, 2080.0, 2120.0, 108400.0),
 ('9107.T', '1d', datetime.datetime(2001, 7, 31, 0, 0), 2140.0, 2170.0, 2120.0, 2170.0, 88900.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 1, 0, 0), 2180.0, 2200.0, 2160.0, 2180.0, 99100.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 2, 0, 0), 2190.0, 2290.0, 2180.0, 2290.0, 124000.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 3, 0, 0), 2290.0, 2290.0, 2210.0, 2240.0, 90500.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 6, 0, 0), 2230.0, 2270.0, 2220.0, 2220.0, 83800.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 7, 0, 0), 2220.0, 2270.0, 2220.0, 2250.0, 64000.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 8, 0, 0), 2250.0, 2260.0, 2210.0, 2210.0, 55100.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 9, 0, 0), 2220.0, 2240.0, 2200.0, 2230.0, 100700.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 10, 0, 0), 2180.0, 2250.0, 2180.0, 2230.0, 105800.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 13, 0, 0), 2180.0, 2230.0, 2160.0, 2230.0, 47200.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 14, 0, 0), 2180.0, 2250.0, 2180.0, 2220.0, 110400.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 15, 0, 0), 2220.0, 2220.0, 2180.0, 2190.0, 92600.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 16, 0, 0), 2090.0, 2090.0, 1950.0, 2050.0, 375400.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 17, 0, 0), 2040.0, 2100.0, 2000.0, 2070.0, 157900.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 20, 0, 0), 2040.0, 2100.0, 2040.0, 2090.0, 122300.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 21, 0, 0), 2080.0, 2080.0, 2020.0, 2020.0, 159900.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 22, 0, 0), 2040.0, 2100.0, 2030.0, 2050.0, 102400.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 23, 0, 0), 2060.0, 2120.0, 2060.0, 2060.0, 138400.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 24, 0, 0), 2070.0, 2090.0, 1980.0, 1990.0, 173400.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 27, 0, 0), 2040.0, 2040.0, 1990.0, 2010.0, 67700.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 28, 0, 0), 2010.0, 2010.0, 1930.0, 1950.0, 112100.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 29, 0, 0), 1910.0, 1960.0, 1910.0, 1920.0, 88200.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 30, 0, 0), 1900.0, 1920.0, 1840.0, 1890.0, 149000.0),
 ('9107.T', '1d', datetime.datetime(2001, 8, 31, 0, 0), 1850.0, 2010.0, 1830.0, 1970.0, 212100.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 3, 0, 0), 1900.0, 1950.0, 1860.0, 1860.0, 92700.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 4, 0, 0), 1810.0, 1870.0, 1770.0, 1870.0, 162800.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 5, 0, 0), 1850.0, 1850.0, 1790.0, 1800.0, 98500.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 6, 0, 0), 1800.0, 1900.0, 1790.0, 1850.0, 274000.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 7, 0, 0), 1800.0, 1840.0, 1800.0, 1810.0, 76200.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 10, 0, 0), 1760.0, 1790.0, 1750.0, 1750.0, 75000.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 11, 0, 0), 1730.0, 1740.0, 1710.0, 1730.0, 77700.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 12, 0, 0), 1480.0, 1680.0, 1480.0, 1590.0, 215100.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 13, 0, 0), 1590.0, 1620.0, 1560.0, 1580.0, 117000.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 14, 0, 0), 1590.0, 1700.0, 1590.0, 1700.0, 241500.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 17, 0, 0), 1660.0, 1660.0, 1550.0, 1560.0, 122800.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 18, 0, 0), 1560.0, 1640.0, 1560.0, 1600.0, 216300.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 19, 0, 0), 1610.0, 1650.0, 1560.0, 1560.0, 217900.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 20, 0, 0), 1560.0, 1560.0, 1510.0, 1510.0, 166300.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 21, 0, 0), 1500.0, 1550.0, 1480.0, 1530.0, 156100.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 24, 0, 0), 1530.0, 1530.0, 1530.0, 1530.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 25, 0, 0), 1610.0, 1700.0, 1600.0, 1660.0, 383400.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 26, 0, 0), 1710.0, 1710.0, 1650.0, 1670.0, 115800.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 27, 0, 0), 1620.0, 1700.0, 1620.0, 1700.0, 104600.0),
 ('9107.T', '1d', datetime.datetime(2001, 9, 28, 0, 0), 1700.0, 1700.0, 1700.0, 1700.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 1, 0, 0), 1680.0, 1720.0, 1620.0, 1700.0, 185700.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 2, 0, 0), 1650.0, 1720.0, 1650.0, 1720.0, 149000.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 3, 0, 0), 1730.0, 1740.0, 1700.0, 1700.0, 78400.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 4, 0, 0), 1710.0, 1780.0, 1700.0, 1730.0, 156800.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 5, 0, 0), 1730.0, 1780.0, 1730.0, 1740.0, 109800.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 8, 0, 0), 1740.0, 1740.0, 1740.0, 1740.0, 0.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 9, 0, 0), 1700.0, 1720.0, 1650.0, 1660.0, 131500.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 10, 0, 0), 1650.0, 1680.0, 1570.0, 1580.0, 272800.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 11, 0, 0), 1600.0, 1630.0, 1580.0, 1600.0, 194200.0),
 ('9107.T', '1d', datetime.datetime(2001, 10, 12, 0, 0), 1650.0, 1660.0, 1600.0, 1630.0, 220900.0),

# Margin Trading

## crawler

In [21]:
symbol_arg = ",".join(symbols)
!python3 ../crawler/crawler_yfinance.py --symbol {symbol_arg}

NameError: name 'symbols' is not defined

In [22]:
%%sql
delete from ohlcv where symbol = '1570.T' and date(time) < '2018-03-19'

 * postgres://postgres:***@localhost:5432/donkatsu
0 rows affected.

[]

In [ ]:
symbol="1357.T"
df = pd.read_sql(query.format(symbol,start_date,end_date), conn)
draw_backtest_history(df, df['low'].min()-200, df['high'].max()+200)
df.tail(10)