# Prepare

In [3]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt
import sys
sys.path.append('/Users/user/Documents/github/donkatsu/')
sys.path.append('/Users/user/Documents/github/lii3ra/')
from lii3ra.dbinfo import DbInfo
import psycopg2
conn = psycopg2.connect(
    host=DbInfo.HOSTNAME,
    database=DbInfo.DATABASE,
    port=DbInfo.PORT,
    user=DbInfo.USER_NAME,
    password=DbInfo.PASSWORD
)
cur = conn.cursor()
import matplotlib.pyplot as plt
from mpl_finance import candlestick2_ohlc, volume_overlay, candlestick_ohlc
import seaborn as sns
sns.set()
sns.set_style('whitegrid')
sns.set_palette('gray')

In [4]:
%load_ext sql
dsl = f"postgres://{DbInfo.USER_NAME}:{DbInfo.PASSWORD}@{DbInfo.HOSTNAME}:{DbInfo.PORT}/{DbInfo.DATABASE}"
%sql $dsl

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

'Connected: postgres@lii3ra'

In [ ]:
start_date="2019-08-05"
end_date="2020-12-31"
query = """
select
*
from ohlcv
where symbol = '{}'
and leg = '1d'
and date(time) between '{}' and '{}'
order by time
"""
pd.set_option('display.max_columns', 100)

In [ ]:
def draw_backtest_history(df, ylim1, ylim2):
    x_size = df.shape[0] / 20
    fig = plt.figure(figsize=(6 * x_size, 12))
    ax = plt.subplot(3, 1, 1)
    candlestick2_ohlc(ax, df["open"], df["high"], df["low"], df["close"], width=0.9, colorup="b", colordown="r")
    ax.set_xlim([0, df.shape[0]])
    ax.set_xticklabels([(df["time"][x].strftime("%Y%m%d") if x <= df.shape[0] else x) for x in ax.get_xticks()], rotation=30)
    ax.set_ylim(ylim1, ylim2)
    
    #ボリンジャーバンド
    ax.plot(df['entry_indicator1'], color="grey")
    ax.plot(df['entry_indicator2'], color="orange")
    ax.plot(df['entry_indicator3'], color="orange")
    ax.plot(df['entry_indicator4'], color="darkgrey")
    ax.plot(df['entry_indicator5'], color="yellow")
    ax.plot(df['entry_indicator6'], color="yellow")
    # 約定
    open_order = [1,2,3,4,5,6,7,8]
    close_order = [9,10,11,12,13,14,15,16]
    for x in range(len(df.index)):
        if (df['execution_order_status'][x] == '約定' and df['execution_order_price'][x] != 0):
            if df['e_ordertype'][x] in open_order:
                ax.plot(df.index[x], df['execution_order_price'][x], color="green", marker="D")
                pass
            else:
                ax.plot(df.index[x], df['execution_order_price'][x], color="red", marker="D")
                pass
    # 損益
    ax3 = plt.subplot(3, 1, 2)
    ax3.bar(df.index, df['profit_value'], color="orange")
    ax3.set_xlim([0, df.shape[0]])
    ax3.set_xticklabels([(df["time"][x].strftime("%Y%m%d") if x <= df.shape[0] else x) for x in ax.get_xticks()], rotation=30)
    # 総資産
    ax4 = plt.subplot(3, 1, 3)
    ax4.bar(df.index, df['total_value'], color="purple")
    ax4.set_xlim([0, df.shape[0]])
    ax4.set_xticklabels([(df["time"][x].strftime("%Y%m%d") if x <= df.shape[0] else x) for x in ax.get_xticks()], rotation=30)

# OHLCV

In [11]:
symbol="6753.T"
df = pd.read_sql(query.format(symbol,start_date,end_date), conn)
# draw_backtest_history(df, df['low'].min()-200, df['high'].max()+200)
df.tail(10)

     symbol leg       time    open    high     low   close     volume
94   6753.T  1d 2019-12-23  1725.0  1732.0  1669.0  1682.0  1818600.0
95   6753.T  1d 2019-12-24  1676.0  1697.0  1663.0  1678.0  1160500.0
96   6753.T  1d 2019-12-25  1682.0  1685.0  1633.0  1640.0  1575600.0
97   6753.T  1d 2019-12-26  1633.0  1660.0  1630.0  1655.0  1366500.0
98   6753.T  1d 2019-12-27  1664.0  1670.0  1649.0  1663.0  1515700.0
99   6753.T  1d 2019-12-30  1670.0  1690.0  1643.0  1685.0  1583200.0
100  6753.T  1d 2020-01-06  1650.0  1687.0  1643.0  1686.0  2616500.0
101  6753.T  1d 2020-01-07  1679.0  1705.0  1672.0  1703.0  1750100.0
102  6753.T  1d 2020-01-08  1670.0  1682.0  1634.0  1671.0  2857600.0
103  6753.T  1d 2020-01-09  1700.0  1722.0  1686.0  1718.0  1964500.0

# Margin Trading

## crawler

In [21]:
symbol_arg = ",".join(symbols)
!python3 ../crawler/crawler_yfinance.py --symbol {symbol_arg}

NameError: name 'symbols' is not defined

In [22]:
%%sql
delete from ohlcv where symbol = '1570.T' and date(time) < '2018-03-19'

 * postgres://postgres:***@localhost:5432/donkatsu
0 rows affected.

[]

In [ ]:
symbol="1357.T"
df = pd.read_sql(query.format(symbol,start_date,end_date), conn)
draw_backtest_history(df, df['low'].min()-200, df['high'].max()+200)
df.tail(10)